body{
    background-image: url("black.png");
    background-repeat: repeat;
    background-size: auto;
    background-color: #00751f;
}
.one
{
    background-color: rgb(24, 185, 91);
    height:600px;
    border-right:solid 2px grey;

}
.two
{
    background-color: rgb(55, 182, 119);
    height:600px;
    
}
.con1
{
    position: relative;
    top:60px;
    max-width:1000px;
}
.card
{
    position: relative;
    top:10px;
    left:15px;
    width:80px;
    
}
#image
{
    height:200px;
}
a{
    text-decoration: none;
}
.fa {
    margin-right:5px;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 45%;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-instagram{
        color:white;
        background-color: rgb(196, 32, 196);
}
.fa-github {
    background-color: rgb(32, 30, 30);
}
.headings
{
    text-emphasis: bold;
    padding-bottom: 5px;
}
li a{
    left:105px;
}